
@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diniz Adient Ticket</title>

    <!-- Custom fonts for this template-->

    <link href="~/Content/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->

    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

    <!-- Custom styles for this template-->

    <link rel="stylesheet" type="text/css" href="css/main2.css">

    <link href="~/Content/css/sb-admin.css" rel="stylesheet" />

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-inverse  static-top" style="background-color:#009688;">

        <a class="navbar-brand mr-1" style="color:white" href="index.html">Diniz - Adient</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">

            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">

            @* Kullnıcı adını ve mesaj box alanı. *@
            <li class="nav-item dropdown no-arrow">
                @* @Html.ActionLink("çıkış","logout", "login" );*@

                <i>
                    <div class="row">
                        @*<h4 style="color:white">@Session["adSoyad"] </h4>&nbsp;*@

                        @*<a class="app-nav__item" href="#" style="margin-right:25px;" data-toggle="dropdown" aria-label="Open Profile Menu" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                            <a href="../login/logout" id="userDropdown">
                                <i class="fa fa-user fa-lg" style="color:white"></i>*@
                        @*<img id="resim" src="~/cikispng.png" />*@
                        <ul style="margin-right:25px;">


                            <a class="app-nav__item" href="#" data-toggle="dropdown" style="color:white" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                            <ul class="dropdown-menu settings-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                                <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                                <li><a href="../login/logout" class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Çıkış</a></li>
                            </ul>

                        </ul>
                        </a>
                    </div>

                </i>




                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login/loginPage" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>

            <li>


            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">


            @if (Session["yetki"].ToString().Trim() == "1" || Session["yetki"].ToString().Trim() == "2")
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
            }


            <li class="nav-item">
                <a class="nav-link" href="~/hesap/hesabiDuzenle">
                    <i class="fas fa-fw fa-id-badge"></i>
                    <span>Hesap Ayarları</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/arizaKaydi/arizaKayitIslem">
                    <i class="fas fa-fw fa fa-tag"></i>
                    <span>Arıza Kaydı Aç</span>
                </a>
            </li>
            @if (Session["yetki"].ToString().Trim() == "1")
            {

              

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="~/kullaniciYonetimi/YonKullanicilar" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa fa-cog"></i>
                        <span>Birim Yönetimi</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                        <a class="dropdown-item" href="~/kullaniciYonetimi/YonKullanicilar">Birim personeli </a>
                        <a class="dropdown-item" href="~/ticketYeni/yeniAtanan">Atanan Ticketlar</a>
                        <a class="dropdown-item" href="~/ticketYeni/ticketBiten">Biten Ticketlar</a>
                    </div>
                </li>



            }
        </ul>


        <div id="content-wrapper">

            <div class="container-fluid">

                @RenderBody()
                <hr>


            </div>

            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2019</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../login/loginPage.cshtml">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <a href="~/Views/login/loginPage.cshtml">~/Views/login/loginPage.cshtml</a>
    <!-- Bootstrap core JavaScript-->


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/sb-admin.min.js"></script>
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Content/js/demo/chart-area-demo.js"></script>


</body>

</html>
